/*.   Mixins.   */
/*    Functions    */
/*    Variables   */
/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles on ul */
ul {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
  color: #162c5b;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

.space {
  width: 100%;
  height: 90px;
}

/*  Header menu  */
.header {
  position: relative;
  background-color: #038aff;
  width: 100%;
}
.header header {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  padding: 16px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header nav div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header nav div a {
  font-size: 0.9rem;
  color: white;
}
.header nav .logo,
.header nav .action-items {
  flex: 1 1 0;
}
.header nav .logo img {
  width: 103px;
}
.header nav .navigation {
  padding: 0 10px;
}
.header nav .navigation a {
  padding: 0 10px;
}
.header nav .action-items {
  justify-content: flex-end;
}
.header nav .action-items a .buynow {
  background-color: white;
  border-radius: 6px;
  margin-left: 10px;
  padding: 6px 12px 6px 6px;
}
.header nav .action-items a .buynow h4 {
  color: #162c5b;
  font-size: 0.8rem;
  font-weight: 400;
  padding-left: 6px;
}
.header nav .action-items a .buynow h4 i {
  color: #162c5b;
  padding-right: 6px;
}

/*  Hero section  */
.hero {
  width: 100%;
  position: relative;
  background-color: #038aff;
}
.hero::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -70px; /* Keep a fixed pixel value */
  width: 100vw;
  height: 70px;
  z-index: 10;
  background: linear-gradient(to right bottom, #038aff 50%, transparent 50%);
}
.hero .container {
  width: min(1140px, 100%);
  margin: 0 auto;
}
.hero .container .flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 700px;
}
.hero .container .flexbox .box {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.hero .container .flexbox .box:nth-child(2) {
  justify-content: center;
}
.hero .container .flexbox .box .trust {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hero .container .flexbox .box .trust .logos {
  display: flex;
  flex-wrap: wrap;
}
.hero .container .flexbox .box .trust .logos .logo {
  width: 110px;
  padding: 0 10px;
}
.hero .container .flexbox .box .card-wrapper {
  width: 440px;
  height: 560px;
  padding: 28px;
  background-color: white;
  border-radius: 16px 16px 80px 20px;
}
.hero .container .flexbox .box .card-wrapper .card-info .top-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;
}
.hero .container .flexbox .box .card-wrapper .card-info .top-info .addnew {
  font-size: small;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid #718097;
}
.hero .container .flexbox .box .card-wrapper .card-info .top-info h3 {
  color: #162c5b;
}
.hero .container .flexbox .box .card-wrapper .card-info .top-info a {
  color: #162c5b;
}
.hero .container .flexbox .box .card-wrapper .card-info .content {
  width: 100%;
}
.hero .container .flexbox .box .card-wrapper .card-info .content .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #e1e8f0;
}
.hero .container .flexbox .box .card-wrapper .card-info .content .box .place h3 {
  color: #162c5b;
  padding-bottom: 6px;
}
.hero .container .flexbox .box .card-wrapper .card-info .content .box .place p {
  color: #718097;
  font-size: small;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
  padding: 24px;
  border-radius: 12px;
  background-color: #162c5b;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: -130px;
  width: 400px;
  min-height: 300px;
  background-image: url("../img/world_map.svg");
  background-repeat: no-repeat;
  z-index: 0;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image .info {
  position: relative;
  z-index: 10;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image .info .number h3 {
  font-size: 0.7rem;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image .info .number h2 {
  font-size: 1.5rem;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image .info .details {
  width: 100%;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image .info .details .flex {
  display: flex;
  flex-wrap: wrap;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image .info .details .flex div {
  flex: 1;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image .info .details .flex div h3 {
  color: white;
  font-size: 0.7rem;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image .info .details .flex div h4 {
  color: white;
  font-size: 0.95rem;
  font-weight: 400;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image .iconbar {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image .iconbar .mastercard {
  width: 40px;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image .iconbar .active {
  padding: 6px 8px;
  border-radius: 4px;
  background-color: #79c7a9;
}
.hero .container .flexbox .box .card-wrapper .card-info .card-image .iconbar .active p {
  color: white;
  font-size: 0.8rem;
}
.hero .container .flexbox .box .barra {
  width: 100%;
  padding-bottom: 30px;
}
.hero .container .flexbox .box .barra .button {
  display: inline-block;
  padding: 14px 18px;
  border-radius: 6px;
  color: black;
  background-color: white;
}
.hero .container .flexbox .box .barra .button i {
  padding-left: 10px;
}
.hero .container .flexbox .box h1,
.hero .container .flexbox .box h2,
.hero .container .flexbox .box h3 {
  color: white;
  line-height: 1.13;
}
.hero .container .flexbox .box h1 {
  font-weight: 600;
  font-size: clamp(2rem, 5vw, 3.8rem);
  padding-bottom: 30px;
}
.hero .container .flexbox .box h2 {
  font-weight: 400;
  font-size: clamp(1rem, 3vw, 1.3rem);
  line-height: 1.5;
  padding-bottom: 30px;
}
.hero .container .flexbox .box h3 {
  font-weight: 400;
  font-size: 0.9rem;
}
@media screen and (max-width: 480px) {
  .hero .container .flexbox .box {
    flex: 1 0 100%;
  }
  .hero .container .flexbox .box .card-wrapper {
    max-width: 440px;
    width: 100%;
    height: auto;
  }
}

.features {
  width: 100%;
}
.features .container {
  width: min(1140px, 100%);
  margin: 0 auto;
}
.features .container .bflex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 700px;
}
.features .container .bflex .bbox {
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}
.features .container .bflex .bbox .play {
  position: absolute;
  cursor: pointer;
  top: 36px;
  left: 36px;
  z-index: 10;
  padding: 6px 14px;
  border-radius: 4px;
  background-color: white;
}
.features .container .bflex .bbox .play h4 {
  font-size: 0.8rem;
  font-weight: 500;
}
.features .container .bflex .bbox .play h4 i {
  padding-right: 10px;
}
.features .container .bflex .bbox h3 {
  font-weight: 500;
  padding: 30px 0 60px;
  line-height: 2;
}
.features .container .bflex .bbox p {
  width: 100%;
  color: #5ccaa7;
  padding-bottom: 14px;
}
.features .container .bflex .bbox p i {
  color: #5ccaa7;
  padding-right: 10px;
}
.features .container .bflex .bbox img {
  border-radius: 12px;
  position: relative;
}
.features .container .bflex .bbox .label {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #5ccaa7;
  color: white;
}

.technology {
  width: 100%;
}
.technology .container {
  width: min(1140px, 100%);
  margin: 0 auto;
}
.technology .container .flex-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 700px;
}
.technology .container .flex-box .sbox {
  flex: 1;
  padding: 1rem;
}
.technology .container .flex-box .sbox .grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: minmax(20px, auto);
}
.technology .container .flex-box .sbox .grid .mybox {
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #e8ebf2;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px;
}
.technology .container .flex-box .sbox .grid .box1 {
  grid-column: 1/1;
  grid-row: 2/4;
}
.technology .container .flex-box .sbox .grid .box1 .bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 18px;
}
.technology .container .flex-box .sbox .grid .box1 .bar .name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.technology .container .flex-box .sbox .grid .box1 .bar .name .center {
  position: relative;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background-color: #febd3d;
  border-radius: 50%;
}
.technology .container .flex-box .sbox .grid .box1 .bar .name .center .text {
  color: white;
  font-size: 0.85rem;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 22%;
}
.technology .container .flex-box .sbox .grid .box1 .bar .name p {
  font-size: 0.85rem;
  padding-left: 10px;
}
.technology .container .flex-box .sbox .grid .box1 .bar .heart i {
  color: #718097;
}
.technology .container .flex-box .sbox .grid .box2 {
  grid-column: 2/2;
  grid-row: 1/3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.technology .container .flex-box .sbox .grid .box2 .bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 18px;
}
.technology .container .flex-box .sbox .grid .box2 .bar .stars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #718097;
  padding: 30px 0;
}
.technology .container .flex-box .sbox .grid .box2 .bar .stars :not(:last-child) {
  color: #febd3d;
}
.technology .container .flex-box .sbox .grid .box2 .bar .stars i {
  font-size: 0.8rem;
  padding: 0 2px;
}
.technology .container .flex-box .sbox .grid .box2 .bar .airbnb {
  width: 120px;
}
.technology .container .flex-box .sbox .grid .box2 .bar .text {
  text-align: center;
}
.technology .container .flex-box .sbox .grid .box2 .bar .text h3 {
  font-size: 0.85rem;
}
.technology .container .flex-box .sbox .grid .box2 .bar .text p {
  font-size: 0.85rem;
}
.technology .container .flex-box .sbox .grid .box3 {
  grid-column: 1/1;
  grid-row: 4/5;
}
.technology .container .flex-box .sbox .grid .box3 .bar {
  display: flex;
  flex-wrap: wrap;
  padding: 18px;
}
.technology .container .flex-box .sbox .grid .box3 .bar .text {
  padding-left: 1.3rem;
}
.technology .container .flex-box .sbox .grid .box3 .bar .text h3 {
  font-size: 0.85rem;
}
.technology .container .flex-box .sbox .grid .box3 .bar .text p {
  font-size: 0.85rem;
}
.technology .container .flex-box .sbox .grid .box3 .bar .icon {
  position: relative;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #5ccaa7;
  border-radius: 50%;
}
.technology .container .flex-box .sbox .grid .box3 .bar .icon .tick {
  color: white;
  font-size: 1rem;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 26%;
}
.technology .container .flex-box .sbox .grid .box4 {
  grid-column: 2/2;
  grid-row: 3/6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.technology .container .flex-box .sbox .grid .box4 .bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 18px;
}
.technology .container .flex-box .sbox .grid .box4 .bar .avatars {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.technology .container .flex-box .sbox .grid .box4 .bar .avatars .avatar {
  width: 38px;
  margin: -4px;
  border-radius: 50%;
  border: 2px solid white;
}
.technology .container .flex-box .sbox .grid .box4 .bar .black {
  border-radius: 50%;
  width: 50px;
}
.technology .container .flex-box .sbox .grid .box4 .bar .icons {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #718097;
}
.technology .container .flex-box .sbox .grid .box4 .bar .icons i {
  color: #718097;
  padding: 0 10px;
}
.technology .container .flex-box .sbox .grid .box4 .bar .text {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}
.technology .container .flex-box .sbox .grid .box4 .bar .text h3 {
  font-size: small;
  font-weight: 400;
}
.technology .container .flex-box .sbox h2 {
  font-size: 1.9rem;
  font-weight: 500;
  padding: 30px 0 30px;
}
.technology .container .flex-box .sbox p {
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 400;
  color: #718097;
}
.technology .container .flex-box .sbox .label {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #038aff;
  color: white;
}
.technology .container .flex-box .sbox .case {
  padding-top: 40px;
  padding-bottom: 10px;
  display: inline-block;
  border-bottom: 2px solid #038aff;
}
.technology .container .flex-box .sbox .case p {
  color: #038aff;
  font-size: 0.9rem;
}

.easy {
  width: 100%;
}
.easy .container {
  width: min(1140px, 100%);
  margin: 0 auto;
}
.easy .container .flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 700px;
}
.easy .container .flexbox .box {
  flex: 1;
  position: relative;
}
.easy .container .flexbox .box .logos {
  padding-top: 40px;
}
.easy .container .flexbox .box .logos .appstore,
.easy .container .flexbox .box .logos .playstore {
  width: min(150px, 100%);
  display: inline-block;
}
.easy .container .flexbox .box .logos .playstore {
  margin-left: 20px;
}
.easy .container .flexbox .box .play {
  position: absolute;
  cursor: pointer;
  top: 36px;
  left: 36px;
  z-index: 10;
  padding: 6px 14px;
  border-radius: 4px;
  background-color: white;
}
.easy .container .flexbox .box .play h4 {
  font-size: 0.8rem;
  font-weight: 500;
}
.easy .container .flexbox .box .play h4 i {
  padding-right: 10px;
}
.easy .container .flexbox .box img {
  border-radius: 12px;
  position: relative;
}
.easy .container .flexbox .box h2 {
  font-size: 1.9rem;
  font-weight: 500;
  padding: 30px 0 30px;
}
.easy .container .flexbox .box p {
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 400;
  color: #718097;
}
.easy .container .flexbox .box .label {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #febd3d;
  color: white;
}

.infinite {
  width: 100%;
  padding-bottom: 90px;
}
.infinite .container {
  width: min(1140px, 100%);
  margin: 0 auto;
}
.infinite .container .barra {
  width: 100%;
  padding: 60px;
  border-radius: 0 80px 0 80px;
  background-color: #161348;
}
.infinite .container .barra .flexbar {
  display: flex;
  align-items: center;
}
.infinite .container .barra .flexbar .bar {
  position: relative;
}
.infinite .container .barra .flexbar .bar:first-child {
  flex: 1 0 60%;
}
.infinite .container .barra .flexbar .bar:last-child {
  flex: 1 0 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.infinite .container .barra .flexbar .bar h2 {
  color: #e1e8f0;
  padding-bottom: 20px;
}
.infinite .container .barra .flexbar .bar p {
  color: #e1e8f0;
}
.infinite .container .barra .flexbar .bar .button {
  padding: 8px 12px;
  border-radius: 6px;
  display: inline-block;
  background-color: #e1e8f0;
}
.infinite .container .barra .flexbar .bar .button p,
.infinite .container .barra .flexbar .bar .button i {
  color: #162c5b;
}

.awards {
  width: 100%;
  padding: 90px 0;
  background-color: #fafbff;
}
.awards .container {
  width: min(1140px, 100%);
  margin: 0 auto;
}
.awards .container .flexbox {
  display: flex;
  flex-wrap: wrap;
}
.awards .container .flexbox .bar {
  width: 100%;
}
.awards .container .flexbox .bar .label {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #038aff;
  color: white;
}
.awards .container .flexbox .bar h3 {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 26px;
}
.awards .container .flexbox .bar .cards-carousel {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  padding: 50px 0;
}
.awards .container .flexbox .bar .cards-carousel .card {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2.2rem 1.6rem;
  border-radius: 12px;
  border: 1px solid #e8ebf2;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px;
}
.awards .container .flexbox .bar .cards-carousel .card .stars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #718097;
  padding: 30px 0;
}
.awards .container .flexbox .bar .cards-carousel .card .stars :not(:last-child) {
  color: #febd3d;
}
.awards .container .flexbox .bar .cards-carousel .card .stars i {
  font-size: 0.8rem;
  padding: 0 2px;
}
.awards .container .flexbox .bar .cards-carousel .card .airbnb {
  width: 120px;
}
.awards .container .flexbox .bar .cards-carousel .card .text {
  text-align: center;
}
.awards .container .flexbox .bar .cards-carousel .card .text h3 {
  font-size: 0.85rem;
}
.awards .container .flexbox .bar .cards-carousel .card .text p {
  font-size: 0.85rem;
}

.answers {
  width: 100%;
  padding: 90px 0;
}
.answers .container {
  width: min(1140px, 100%);
  margin: 0 auto;
}
.answers .container .title {
  text-align: center;
  padding-bottom: 50px;
}
.answers .container .title h2 {
  font-size: 1.9rem;
  font-weight: 500;
  padding: 30px 0 30px;
}
.answers .container .title p {
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 400;
  color: #718097;
}
.answers .container .flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.answers .container .flexbox .bar {
  flex: 1;
}
.answers .container .flexbox .bar .main-content {
  width: 100%;
}
.answers .container .flexbox .bar .main-content .description-title {
  font-size: 1rem;
  color: #162c5b;
  padding-left: 18px;
  line-height: 55px;
  transition: 0.3s;
  margin-top: 2px;
  margin-bottom: 10px;
  border-radius: 12px;
  border: 1px solid #e8ebf2;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px;
}
.answers .container .flexbox .bar .main-content .description-title:hover {
  cursor: pointer;
}
.answers .container .flexbox .bar .main-content .expand-collapse {
  float: right;
  margin-right: 8px;
}
.answers .container .flexbox .bar .main-content .description {
  font-size: 0.9rem;
  max-height: 0;
  overflow: hidden;
  margin-left: 0px;
  padding-left: 10px;
  transition: max-height 0.2s ease-out;
}
.answers .container .flexbox .bar .main-content .description p {
  margin-top: 4px;
}

.project {
  width: 100%;
  padding: 60px 0;
}
.project .container {
  width: min(1140px, 100%);
  margin: 0 auto;
}
.project .container .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project .container .flex .barra {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
}
.project .container .flex .barra .button {
  display: inline-block;
  padding: 14px 18px;
  border-radius: 6px;
  color: #fff;
  background-color: #038aff;
}
.project .container .flex .barra .button i {
  padding-left: 10px;
}
.project .container .flex .barra .learn {
  display: inline-block;
  padding: 14px 18px;
  border-radius: 6px;
  color: #162c5b;
  background-color: #fff;
}
.project .container .flex .barra .learn i {
  padding-left: 10px;
}
.project .container .flex h2 {
  font-size: 1.9rem;
  font-weight: 500;
  padding: 30px 0 30px;
}

footer {
  position: relative;
  width: 100%;
  padding: 90px 0 0;
  background-color: #161348;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: -70px; /* Keep a fixed pixel value */
  width: 100vw;
  height: 70px;
  z-index: 10;
  transform: rotate(180deg);
  background: linear-gradient(to right bottom, #161348 50%, transparent 50%);
}
footer .container {
  width: min(1140px, 100%);
  margin: 0 auto;
  padding: 0 1rem;
}
footer .container .brilliant {
  width: 100%;
  padding: 0 0 50px 0;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(56, 2, 155, 0), rgb(255, 0, 128), rgba(56, 2, 155, 0));
  border-image-slice: 1;
  width: 100%;
}
footer .container .brilliant .flex {
  display: flex;
  flex-wrap: wrap;
}
footer .container .brilliant .flex .buttons .barra {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 30px;
}
footer .container .brilliant .flex .buttons .barra .button {
  font-size: 0.9rem;
  display: inline-block;
  padding: 10px 14px;
  border-radius: 6px;
  color: #162c5b;
  background-color: #fff;
}
footer .container .brilliant .flex .buttons .barra .button i {
  padding-right: 10px;
}
footer .container .brilliant .flex .buttons .barra .purchase {
  font-size: 0.9rem;
  display: inline-block;
  padding: 10px 14px;
  margin-left: 20px;
  border-radius: 6px;
  color: #fff;
  background-color: #038aff;
}
footer .container .brilliant .flex .text h2 {
  color: #fff;
}
footer .container .brilliant .flex .text p {
  color: #acaabf;
}
footer .container .brilliant .flex .bar {
  flex: 1;
}
footer .container .info {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 40px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(56, 2, 155, 0), rgb(38, 31, 148), rgba(56, 2, 155, 0));
  border-image-slice: 1;
  width: 100%;
}
footer .container .info .flexbox {
  display: flex;
  flex-wrap: wrap;
}
footer .container .info .flexbox .box h3 {
  font-size: 1rem;
  padding-bottom: 20px;
  color: #fff;
}
footer .container .info .flexbox .box ul li {
  font-size: 0.8rem;
  padding-bottom: 10px;
  color: #acaabf;
}
footer .container .info .flexbox .box1 {
  flex: 1 0 55%;
}
footer .container .info .flexbox .box1 p {
  width: min(300px, 100%);
  color: #acaabf;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 30px 0;
}
footer .container .info .flexbox .box1 .logo {
  width: 100px;
}
footer .container .info .flexbox .box1 .social i {
  color: #acaabf;
  padding-right: 16px;
}
footer .container .info .flexbox .box2 {
  flex: 1 0 15%;
}
footer .container .info .flexbox .box3 {
  flex: 1 0 15%;
}
footer .container .info .flexbox .box4 {
  flex: 1 0 15%;
}
footer .container .bottom-info {
  width: 100%;
}
footer .container .bottom-info .flexbox {
  display: flex;
  flex-wrap: wrap;
}
footer .container .bottom-info .flexbox .bar {
  flex: 1;
  padding: 40px 0 20px;
}
footer .container .bottom-info .flexbox .bar .copy {
  font-size: 0.8rem;
  color: #acaabf;
}
footer .container .bottom-info .flexbox .bar .copy span {
  color: #fff;
}
footer .container .bottom-info .flexbox .bar .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
footer .container .bottom-info .flexbox .bar .links ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
footer .container .bottom-info .flexbox .bar .links ul li {
  font-size: 0.8rem;
  padding-left: 20px;
  color: #acaabf;
}