@use "layout" as lt;

/*    Functions    */

@function color($elem, $variant) {
  @return map-get(map-get($color, $elem), $variant);
}

/*    Variables   */

$color: (
  text: (
    1: #162c5b,
    2: #565678,
    3: #ababc9,
    soft: #718097,
    footer: #acaabf,
    1i: #fff,
  ),
  bg: (
    hero: #038aff,
    awards: #fafbff,
    features: #5ccaa7,
    tools: #febd3d,
    3: #d2daf0,
    infinite: #161348,
    footer: #161348,
    line-footer: #2f2c5b,
    white: #fff,
  ),
);

/*  Easy section  */
.easy {
  overflow: hidden;
  width: 100%;
  padding: 0 1rem;
  .container {
    width: min(1140px, 100%);
    margin: 0 auto;
    .flexbox {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      height: 700px;
      .box {
        flex: 1;
        position: relative;
        &:first-child {
          padding: 38px;
          &::before {
            content: "";
            position: absolute;
            left: 460px;
            top: -200px;
            background-image: url("../img/halfcircle.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 180px;
            height: 180px;
            z-index: -1;
          }
        }
        .logos {
          padding-top: 40px;
          .appstore,
          .playstore {
            width: min(150px, 100%);
            display: inline-block;
          }
          .playstore {
            margin-left: 20px;
          }
        }
        .play {
          position: absolute;
          cursor: pointer;
          top: 36px;
          left: 36px;
          z-index: 10;
          padding: 6px 14px;
          border-radius: 4px;
          background-color: lt.$button-color;
          h4 {
            font-size: 0.8rem;
            font-weight: lt.$fw-500;
            i {
              padding-right: 10px;
            }
          }
        }
        img {
          border-radius: 12px;
          position: relative;
        }
        h2 {
          font-size: 1.9rem;
          font-weight: lt.$fw-500;
          padding: 30px 0 30px;
        }
        p {
          font-size: 1.1rem;
          line-height: 1.8;
          font-weight: lt.$fw-400;
          color: color(text, soft);
        }
        .label {
          display: inline-block;
          font-size: 0.8rem;
          font-weight: lt.$fw-600;
          padding: 5px 10px;
          border-radius: 50px;
          background-color: color(bg, tools);
          color: lt.$text-white;
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .container {
      padding-bottom: 90px;
      .flexbox {
        height: auto;
        .box {
          flex: 1 0 100%;
          &:first-child {
            padding: 18px;
          }
          .logos {
            padding-top: 40px;
            .appstore,
            .playstore {
              width: 150px;
              margin-left: 0;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
