@use "layout" as lt;

/*    Functions    */

@function color($elem, $variant) {
  @return map-get(map-get($color, $elem), $variant);
}

/*    Variables   */

$color: (
  text: (
    1: #162c5b,
    2: #565678,
    3: #ababc9,
    soft: #718097,
    footer: #acaabf,
    1i: #fff,
  ),
  bg: (
    hero: #038aff,
    awards: #fafbff,
    features: #5ccaa7,
    tools: #febd3d,
    3: #d2daf0,
    infinite: #161348,
    footer: #161348,
    line-footer: #2f2c5b,
    white: #fff,
  ),
);

/*  Project section  */
.project {
  width: 100%;
  padding: 60px 1rem;
  .container {
    width: min(1140px, 100%);
    margin: 0 auto;
    .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .barra {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding-bottom: 30px;
        .button {
          display: inline-block;
          padding: 14px 18px;
          border-radius: 6px;
          color: color(text, 1i);
          background-color: color(bg, hero);
          i {
            padding-left: 10px;
          }
        }
        .learn {
          display: inline-block;
          padding: 14px 18px;
          border-radius: 6px;
          color: color(text, 1);
          background-color: color(bg, white);
          i {
            padding-left: 10px;
          }
        }
      }
      h2 {
        font-size: 1.9rem;
        font-weight: lt.$fw-500;
        padding: 30px 0 30px;
      }
    }
  }
  @media screen and (max-width: 800px) {
    .container {
      .flex {
        h2 {
          text-align: center;
        }
      }
    }
  }
}
